In [2]:
import numpy as np
import pandas as pd

In [ ]:
house_prices_trian=pd.read_csv('C:/Users/plj/Desktop/Jupyter/train.csv',esp='?')  #esp='?'表示用？作为分隔符

In [ ]:
house_prices_trian=pd.read_csv('C:/Users/plj/Desktop/Jupyter/train.csv',skiprows=[0,1])  #skiprows跳过第[0,1]行

In [ ]:
house_prices_trian=pd.read_csv('C:/Users/plj/Desktop/Jupyter/train.csv',skip_footer=1，engine='python')  #skip_footer跳过倒数第1行
                                                                                                         #用'python'实现

In [ ]:
house_prices_trian=pd.read_csv('C:/Users/plj/Desktop/Jupyter/train.csv',nrows=5)        # nrows读取前多少行数据（5行）
                                                                                        # 随机选取多少行怎么选取？

In [10]:
bank_data1=pd.read_excel('C:/Users/plj/Desktop/Jupyter/bank_data.xls',sheet_name='Sheet6')
bank_data1.head()

,返回,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,2244.792372,...,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53
0,NaN,存量到期续作表,NaN,NaN,静态,NaN,NaN,NaN,NaN,877.931,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0101,1658.84,2244.79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,数据日期：,2018-03-31 00:00:00,NaN,NaN,NaN,NaN,0201,13427.3,18774.9,...,43159,NaN,NaN,预测日期：,43190,币种：,本外币合计,单位,元，%,NaN
3,NaN,NaN,2018-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PLA编码,PLA名称,月末余额,次月日均规模,加权平均利率,收付息率,曲线_期限,基准利率,利率调整模式,定价策略,...,次月日均规模,加权平均利率,收付息率,曲线_期限,基准利率,利率调整模式,定价策略,月利息收支,平均原始期限,平均到期期限

In [ ]:
bank_data1=pd.read_json('C:/Users/plj/Desktop/Jupyter/bank_data.json'，) #读取.json文件
bank_data1.head(5)

In [1]:
import sqlite3   #读取数据库

In [5]:
connection=sqlite3.connect('C:/Users/plj/Desktop/Jupyter/bank_data.splite')
bank_data.to_sql('BANK_DATA',connection,if_exists='replace')
                                        #if_exists='append'
connection.commit()
connection.close()

NameError: name 'bank_data' is not defined

In [ ]:
connection=sqlite3.connect('C:/Users/plj/Desktop/Jupyter/bank_data.splite')
bank_data_sql=pd.io.sql.read_sql('SELCTE * FROM bank_data')
connection.close()
bank_data_sql.head()